# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Microchip Libero SoC & Synopsys / ModelSim
*.log
*.rpt
*.srr
*.edf
*.vm
*.vqm
*.drc
*.adb
*.cxp
*.prjx.backup
*.srs
*.srm
*.stp
*.fdb
*.soz
*.pdb
*.mem
*.tmp
work/
transcript
vsim.wlf

# OS generated
.DS_Store
Thumbs.db
Desktop.ini
